$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// add files to customize bootstrap
@import "_custom-fonts.scss";
@import "_custom-variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
// your own css/scss
#slogan {
    text-align: center;
    vertical-align: middle;
    width:auto;
}

.jumbotron {
    background-image: url("/images/lake.jpg");
    background-size: cover;
    color: white;
    text-align: left;
}

#row2 {
    text-align: left;
}

#row3 {
    text-align: left;
}

#but1 {
    border-color: white;
    background-color: transparent;
}

#firstp, #secondp {
    color:blue;
}

p{
    //font-family: Robotiko;
}

#page-wrap {
     width: 900px;
     margin: 0 auto;
}
// your own css/scss ends